.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
  /* border: solid rgb(247, 231, 231); */
}
.daterangepicker .ranges li.active {
  background-color: var(--primary-color);
  color: #fff;
}

.daterangepicker td.in-range {
  background-color: var(--light-primary-color);
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
}
.next:hover > span,
.prev:hover > span {
  color: #fff;
  border: solid rgb(247, 231, 231) !important;
  border-width: 0 2px 2px 0 !important;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}
